body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

/* Backgorund */
#bg{
    background-color: rgb(79, 79, 79);
    position: relative;
}

/* Player */
#player{
    background-color: yellowgreen;
    position: absolute;
}